﻿@model odevmvc.Models.kullanıcı
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> hoşgeldiniz sayın @Model.isim </h2>
<p>
    yazdıgınız makale sayısı @Model.makalelers.Count
</p>

@Html.ActionLink("makale yaz", "create", "makaleler") |
@Html.ActionLink("makalelerimi listele", "kisimakalelistele", "makaleler")
