﻿@model odevmvc.Models.kullanıcı


@{
    ViewBag.Title = "profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-info text-success" style="font-size:large"   >@Session["username"].ToString()</h2>

<div>
    <h4>@Html.DisplayFor(model => model.yetkilendirme.yetkiAdı)</h4>
    <hr />
    <dl class="dl-horizontal">
   


        <dt>
            @Html.DisplayNameFor(model => model.isim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soyisim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soyisim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kayıt_tarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kayıt_tarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("guncelle", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("geri dön", "Index","Default")
</p>
