﻿@model odevmvc.Models.makaleler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger text-center">


</h2>

<div>
    <h4> </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kategori.kategoriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategori.kategoriAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kullanıcı.Kullanıcı_Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullanıcı.Kullanıcı_Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icerik)
        </dd>

        

    </dl>
</div>
@if(Model.kullanıcı.Kullanıcı_Ad == Session["username"].ToString())
   
 {
    <p>
@Html.ActionLink("Edit", "Edit", new { id = Model.ID });
@Html.ActionLink("etiketekle", "Edit", new { id = Model.ID });
    </p>
}
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    <textarea type="text"  id="yorum"> </textarea>
    <br/>
    <button type="button" class="btn btn-warning" id="yorum yap">yorum yap </button>

    
</div>
