﻿@model IEnumerable<odevmvc.Models.makaleler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length) <Text>...</Text>
}

}
<h2>TÜM MAKALELER </h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kategori.kategoriAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kullanıcı.Kullanıcı_Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.kategori.kategoriAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kullanıcı.Kullanıcı_Ad)
            </td>
            <td>
                @Truncate(item.Baslik, 15)
            </td>
            <td>
                @Truncate(item.icerik, 45)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
                @if (item.kullanıcı.Kullanıcı_Ad == Session["username"].ToString())
                {
                    <p>
                        @Html.ActionLink("güncelle","Edit", new { id = item.ID })

                        @Html.ActionLink("sil","Delete", new { id = item.ID })
                    </p>
                }
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            </td>
        </tr>
    }

</table>
