﻿@model IEnumerable<odevmvc.Models.makaleler>

@{
    ViewBag.Title = "kisimakalelistele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper Truncate(string input,int length )
    {
if(input.Length<=length)
{
@input
}
else
{
     @input.Substring(0,length) <Text>...</Text>
}

    }
 
<h2>Makalelerim </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kategori.kategoriAd)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kategori.kategoriAd)
        </td>
       
        <td>
            @Truncate(item.Baslik,25)
        </td>
        <td>
            @Truncate(item.icerik,30)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
