﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet"  />
  
</head>
<body style="background-color:chocolate">
   
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
           
                @if (Session["username"] == null)
                {
                    @Html.ActionLink("PRATİKLERCE", "Index", "default", new { area = "" }, new { @class = "navbar-brand" })

                }
                else
                {
                    @Html.ActionLink("PRATİKLERCE", "Index", "kullanıcı", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("makaleler", "Index", "makaleler", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse navbar-right">
                @if (Session["username"] == null)
                {
                    @Html.ActionLink("Kayıt Ol", "create", "default", new { area = "" }, new { @class = "navbar-brand" })

                    @Html.ActionLink("Giriş Yap", "login", "default", new { area = "" }, new { @class = "navbar-brand" })
                }

                else
                {
                    @Html.ActionLink(Session["username"].ToString(), "profil", "kullanici", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("çıkış yap", "logout", "kullanici", new { area = "" }, new { @class = "navbar-brand" })
                }

            </div>
        </div>
    </div>
   

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sevilay AĞIL</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
  
</body>
</html>